.Header-container{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 0 2rem;

}
.Header-logo{
    height: 100%;
    width: 70px;
    padding: 25px;
}
.Header-nav{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-item{
        padding: 10px 15px;
        color: #4a4a4a;
    }
}
